
.btn-primary {
    color: #fff!important;
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}
.btn-success {
    color: #fff!important;
    background-color: #198754!important;
    border-color: #198754!important;
}
.btn-info {
    color: #000!important;
    background-color: #0dcaf0!important;
    border-color: #0dcaf0!important;
}
.btn-danger {
    color: #fff!important;
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}
.btn-warning {
    color: #000!important;
    background-color: #ffc107!important;
    border-color: #ffc107!important;
}
.btn-secondary {
    color: #fff!important;
    background-color: #6c757d!important;
    border-color: #6c757d!important;
}
